---
# tasks file for facts
- name: include assert.yml
  include_tasks: assert.yml

- name: create ansible facts directory
  file:
    path: /etc/ansible/facts.d
    state: directory

- name: place custom facts
  template:
    src: "facts.j2"
    dest: /etc/ansible/facts.d/custom.fact
  notify: setup
